* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --grad: linear-gradient(49deg, #a21af0, #ff0072);
}

body {
    background-image: url("bg.avif");
    background-size: cover;
    font-family: sans-serif;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    background-color: #4c76774b;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.26);
    display: flex;
    position: relative;
}

.default_info {
    background: linear-gradient(135deg, #2a3e4654 10%, #29404e42 100%);
    border-radius: 25px;
    padding: 1.5rem;
    text-align: center;
    width: 40%;
}


.default_info img {
    width: 70%;
    object-fit: cover;
    margin: 0 auto;
    height: auto;
}

.default_info h1 {
    font-size: 3rem;
    padding: .5rem 0;
}

.default_info h3 {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.weather_temp {
    font-size: 4rem;
    font-weight: 800;
}

/* .icons img{width:20%;height: auto;} */

/* content section */
.content_section {
    padding: 1.5rem;
}

.content_section form {
    margin: 1.5rem 0;
    display: flex;
}

.content_section form input {
    width: 84%;
    background: transparent;
    border: 1px solid #37474f;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-family: inherit;
    color: yellow;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.content_section form button {
    padding: 1rem 0.7rem;
    font-size: 1.2rem;
    border: none;
    background: #31af85;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    margin-left: .5rem;
}

.day_info .content {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
}

.day_info .content .title {
    font-weight: 600;
}

.day_info .name {
    font-weight: 600;
    font-size: 1.5rem;
    background: var(--grad);
    background-clip: text;
    color: transparent;
}

.day_info span {
    font-size: 1.1rem;
}

.list_content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 3rem 0rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.list_content ul li {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    transition: all 0.3s ease-in;
}

.list_content ul li:hover {
    transform: scale(1.1);
    background-color: #6cdfdf;
    color: #0e1111;
    box-shadow: 0 5px 15px rgba(43, 255, 0, 0.616);
    cursor: pointer;
}

.list_content ul li img {
    width: 30%;
    object-fit: cover;
    height: auto;
}

@media screen and (max-width:1220px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width:980px) {}

@media screen and (max-width:767px) {
    html {
        font-size: 13px;
    }

    .wrapper {
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    .wrapper {
        display: block;
    }

    .default_info {
        width: 100%;
    }

    .default_info img {
        width: 40%;
    }

    .default_info h1 {
        font-size: 2.5rem;
    }

    .container {
        height: auto;
    }

    .list_content ul {
        flex-flow: wrap;
        border-radius: 15px;
        font-size: 1.5rem;
    }

    .day_info {
        font-size: 1.5rem;
    }

    .day_info span {
        font-size: 1.5rem;
    }

    #form {
        position: absolute;
        top: 0;
        right: 10px;
        left: 10px;
    }
    .default_info{padding-top: 70px;}
    .list_content ul li{flex-direction: row;justify-content: space-around;}
    .list_content ul{padding: .5rem;}


}